/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package rianadi;

/**
 *
 * @author User
 */
public class RianAdi {

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
        // TODO code application logic here
        int nilaiQuis=70;
        int nilaiTugas=60;
        int nilaiUts=60;        
        int nilaiUas=80;
                        
        if(nilaiQuis>=70 && nilaiTugas >70 && nilaiUts>70 && nilaiUas>=70){
        System.out.println("Baik");
    }
        
        else if(nilaiQuis>60 && nilaiTugas >60 && nilaiUts>60 && nilaiUas>60){
        System.out.println("Cukup");
        }
    
        
        else{
        System.out.println("Kurang");
    }
        
    }
    
}
